<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>SF Crime</title>

    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <!-- Our CSS -->
    <link rel="stylesheet" href="./static/css/style.css" />
    <!-- <link rel="{{ url_for('static', filename='css/style.css') }}"></link> -->
  </head>

  <body>
    <h1>Final Project: Atlanta, GA Crime Investigation</h1>
    <!-- <div id="map" style="width:840px; height: 400px;"> -->
    <div
      id="map"
      style="width: 840px; height: 400px; margin-left: auto; margin-right: auto"
    ></div>
    <div class="page">
      <h1>Table</h1>
      {% for table in tables %}
      <h2>{{titles[loop.index]}}</h2>
      {{ table|safe }} {% endfor %}
    </div>

    <!-- API key -->
    <!-- <script type="text/javascript" src="static/js/config.js"></script> -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='data/data.csv') }}"></script> -->

    <!-- Leaflet JS -->
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- JS -->
    <!-- <script type="text/javascript" src="static/js/just-crime.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/just-crime.js') }}"></script> -->
    <!-- <script type="text/javascript" src="static/js/heatmap.js"></script> -->
    <script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>

    <!-- Leaflet heatmap plugin-->
    <script src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
    <!-- <script type="text/javascript" src="static/js/leaflet-heat.js"></script> -->
  </body>
</html>
